<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
  <div class="container-fluid">
    <div class="collapse" id="search-nav"></div>
    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
      <li class="nav-item dropdown hidden-caret">
        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
          <div class="avatar-sm">
            <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-user animated fadeIn">
          <div class="dropdown-user-scroll scrollbar-outer">
            <li>
              <div class="user-box">
                <div class="avatar-lg"><img src="/assets/img/profile.jpg" alt="image profile" class="avatar-img rounded" /></div>
                <div class="u-text">
                  <h4><%= item.TaiKhoan %></h4>
                  <p style="font-size: x-small" class="text-muted"><%= item.Email %></p>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Chỉnh sửa thông tin cá nhân</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Đăng xuất</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</nav>
