<!-- 
    //                       _oo0oo_
    //                      o8888888o
    //                      88" . "88
    //                      (| -_- |)
    //                      0\  =  /0
    //                    ___/`---'\___
    //                  .' \\|     |// '.
    //                 / \\|||  :  |||// \
    //                / _||||| -:- |||||- \
    //               |   | \\\  -  /// |   |
    //               | \_|  ''\---/''  |_/ |
    //               \  .-\__  '-'  ___/-. /
    //             ___'. .'  /--.--\  `. .'___
    //          ."" '<  `.___\_<|>_/___.' >' "".
    //         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
    //         \  \ `_.   \_ __\ /__ _/   .-` /  /
    //     =====`-.____`.___ \_____/___.-`___.-'=====
    //                       `=---='
    //
    //  KHÔNG BUG!        KHÔNG CRASH!        TỐT NGHIỆP!  
    //
    //                    A DI ĐÀ PHẬT!                    
    //     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!DOCTYPE html>
<html lang="en">
  <%- include("./blocks/head.ejs") %>
  <!-- <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ReadingApp</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="../assets/img/icon.ico" type="image/x-icon" />
  </head> -->
  <style>
    h1 {
      margin-bottom: -10px;
    }
    body {
      display: flex;
      justify-content: center;
    }
    form {
      margin-top: 20px;
      margin: auto;
      display: flex;
      flex-direction: column;
    }

    .input-field {
      position: relative;
      margin-top: 2rem;
    }

    .input-field input {
      padding: 0.8rem;
    }

    form .input-field:first-child {
      margin-bottom: 1.5rem;
    }

    form input[type="submit"] {
      background: linear-gradient(to left, #4776e6, #8e54e9);
      color: white;
      border-radius: 4px;
      margin-top: 2rem;
      padding: 0.4rem;
    }
  </style>
  <body>
    <form action="/login" method="post">
      <h1>Administrator</h1>
      <div class="input-field">
        <input type="text" name="TaiKhoan" id="username" placeholder="Enter Username" />
      </div>
      <div class="input-field">
        <input type="password" name="MatKhau" id="password" placeholder="Enter Password" />
      </div>
      <input type="submit" value="LogIn" />
    </form>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Atlantis JS -->
    <script src="../assets/js/atlantis.min.js"></script>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="../assets/js/setting-demo2.js"></script>
    <script>
         var text = <%=message%>
         if (text == 0) {
           $.notify({
             icon: "flaticon-alarm-1",
             title: "ReadingApp",
             message: "Sai mật khẩu",
           }, {
             type: "danger",
             placement: {
               from: "top",
               align: "center",
             },
             time: 1000,
           });
         }
      if (text == 1) {
           $.notify({
             icon: "flaticon-alarm-1",
             title: "ReadingApp",
             message: "Sai tên tài khoản",
           }, {
             type: "danger",
             placement: {
               from: "top",
               align: "center",
             },
             time: 1000,
           });
         }
    </script>
  </body>
</html>
