<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>ReadingApp</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="../assets/img/icon.ico" type="image/x-icon" />
</head>
<style>
  body {
    background-color: #e0e0e0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 80vw;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: #006eff;
    margin-top: 0;
  }

  img {
    max-width: 150px;
  }
</style>

<body>
  <div class="container">
    <img src="/assets/img/icon.ico" alt="Logo của chúng tôi">
    <h1><% message %></h1>
    <a href="/login" style="text-align: right;margin-top: 20px;">Quay lại</a>
  </div>
</body>

</html>